<small>Copyright &copy; 2022  All Rights Reversed</small>
<form action="auth/logout" method="post">
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
         <button type="submit" class="btn btn-danger">logout</button></a>
       </div>
</form>